html, body {
    background: whitesmoke;
    height: 100%;
    width: 100%;
}

.container {
    margin: 20px auto;
}

.log {
    overflow: scroll;
    height: 255px;
}

.progress-outter {
    margin: 10px 0;
    position: relative;
    width: 100%;
    height: 25px;
    background-color: lightgray;
    border-radius: 6px;
}

.progress-inner {
    width: 100%;
    height: 25px;
    background-color: #9b4dca;
    border-radius: 6px;
    position: absolute;
}

.progress-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 5;
    color: white;
}

.notification {
    height: 25px;
    width: 100%;
    border-radius: 6px;
    margin: 10px 0;
    color: white;
    background-color: #9b4dca;
    text-align: center;
}

#duration-input, #timeout-input{
    width: 100%;
}

.box {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.explosion {
    z-index: 10;
    position: absolute;
    width: 284px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 284px 400px;
    background-image: url(./explosion.gif);

}

#start-transaction-button {
    margin-top: 30px;
    
}

.button {
width: 100%;
}

/* GitHub Corner */

.github-corner:hover .octo-arm {
                animation: octocat-wave 560ms ease-in-out
            }
            
            @keyframes octocat-wave {
                0%,
                100% {
                    transform: rotate(0)
                }
                20%,
                60% {
                    transform: rotate(-25deg)
                }
                40%,
                80% {
                    transform: rotate(10deg)
                }
            }
            
            @media (max-width:500px) {
                .github-corner:hover .octo-arm {
                    animation: none
                }
                .github-corner .octo-arm {
                    animation: octocat-wave 560ms ease-in-out
                }
            }